{% extends 'adminbase.html.twig' %}
    {% block title %}Ayarlar {% endblock %}

    {% block content %}
        {{ include('admin/massages.html.twig') }}
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row bg-title">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h4 class="page-title">Ayarlar</h4> </div>
                    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">

                        <ol class="breadcrumb">
                            <li><a href="{{ url('admin') }}">Anamenü</a></li>
                            <li class="active"><a href="{{ path('admin_setting_index') }}">Ayarlar</a></li>
                        </ol>
                    </div>
                </div>


                <div class="col-sm-12">
                    <div class="white-box">
                        <h3 class="box-title">Ayarlar</h3>

                        {{ include('admin/setting/_form.html.twig') }}


                    </div>
                </div>

            </div>
        </div>
    {% endblock %}
