{% extends 'adminbase.html.twig' %}
    {% block title %}Product Düzenle {% endblock %}

    {% block content %}

        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row bg-title">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h4 class="page-title">Products</h4> </div>
                    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">

                        <ol class="breadcrumb">
                            <li><a href="{{ url('admin') }}">Anamenü</a></li>
                            <li class="active"><a href="{{ path('admin_product_index') }}">Products</a></li>
                        </ol>
                    </div>
                </div>
                <div class="row">

                    <div class="col-sm-12">
                        <div class="white-box">
                            <h3 class="box-title">Product Düzenle</h3>

                            {{ include('admin/product/_form.html.twig') }}




                        </div>
                    </div>
                </div>
            </div>
        </div>


    {% endblock %}
