{% extends 'frontbase.html.twig' %}

{% block title %}Sepetim{% endblock %}

{% block content %}
    <h1>Siparis Bilgileri</h1>
    {{ include('home/_usersidebar.html.twig') }}
    {{ include('orders/_form.html.twig') }}

{% endblock %}
